.el-submenu .el-menu-item{
  font-size: 14px;
  padding-left: 50px !important;
  &.is-active {
    background-color: rgba(245, 108, 108, 0.2) !important;
    &:hover{
      background-color: rgba(245, 108, 108, 0.3) !important;
    }
  }
  &:hover{
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}
li.el-submenu{
  &.is-active.is-opened>.el-submenu__title{
    background-color: $mainColor !important;
  }
  >.el-submenu__title:hover{
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
  .el-submenu__icon-arrow{
    color: #fff !important;
  }
}
.close {
  .el-submenu {
    &.is-opened {
      > .el-submenu__title {
        background-color: $mainColor !important;
      }
    }
  }
}
.el-menu--vertical {
  .el-menu { background-color: $mainColor !important; }
  .el-menu-item { line-height: 56px; }
  .el-menu-item:hover {
    background-color: rgba(0,0,0,.05) !important;
    color:#f3f3f3 !important;
  }
}

/* table 样式*/
div.el-table {
  td, th {
    text-align: center;
  }
  th {
    font-weight: bold;
    color: $secondColor;
  }
  td {
    font-size: 14px;
  }
  .el-table-column--selection .cell{
    padding-right: 10px;
  }
}

/* dialog 样式 */
.el-dialog__body {
  padding: 30px 47px !important;
}
.el-dialog__footer {
  text-align: center !important;
  padding-bottom: 50px !important;
  .el-button {
    width: 150px;
    margin: 0 11px !important;
  }
}

div.el-form-item { margin-bottom: 22px; }

/* from 样式 */
.el-form {
  .el-form-item:last-child {
    margin-bottom: 0 !important;
  }
}